GEMINI_API_KEY=AIza...
GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"..."}
GMAIL_ADDRESS=you@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
PIPELINE_API_KEY=generate_a_random_secret_here
